@import 'reset.css';

/*reset*/

body {
  font-family: helvetica;
}

input, button, select {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

/* markup */

.input {
  padding: 0 1rem;
  font-size: .9rem;
}

.button--action{
  color: white;
  background: #42C100;
  height: 100%;
  width: 5rem;
  font-size: 2rem;
}

.button--action:hover {
  color: #42C100;
  background: white;
  transition: .1s;
  cursor: pointer;
}

.button--secundairy {
  background: rgba(0,0,0,.05);
  padding: 1rem;
  margin: 1rem;
  color: grey;
  font-size: .7rem;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.button--secundairy:hover {
  cursor: pointer;
  transition: .1s;
  background-color: grey;
  color: white;
}

/* layout */

.application {
  display: flex;
  height: 100vh;
}

.application-navigation{
  background: #2C2C2C;
  width: 11rem;
}

.application-content {
  background: #F9FAFC;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1;
  display: flex;
}

.new {
  height: 4rem;
  box-shadow: .1rem .1rem .2rem rgba(0,0,0,.05);
  z-index: 1;
}

.new-form {
  display: flex;
  align-items: center;
  height: 100%;
}

.new-input{
  height: 100%;
}

.new-input--big {
  flex-grow: 1;
  font-size: 1.1rem;
}

.project {
  flex-grow: 1;
  box-shadow: .1rem .1rem .2rem rgba(0,0,0,.05);
  background: white;

  display: flex;
  flex-flow: column;
}

.project-selector {
  height: 10vh;
  padding: 1rem;
}

.project-selector select {
  height: 3rem;
  width: 60%;
  font-size: 1rem;
  background: none;
  font-weight: bold;
}

.project-details{
  height: 30vh;
}

.project-todos {
  height: 60vh;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.todos-list {
  overflow: scroll;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .07s;
  padding: 2rem;
}

.todo p {
  width: 15%;
}

.todo:hover {
  background: rgba(0, 0, 0, .03);
}

.todo-prop {
  font-size: .9rem;
}

.todo-prop--task {
  flex-grow: 1;
  color: rgba(0,0,0,.7);
  letter-spacing: .03rem;
}

.todo-prop--time {
  color: rgba(0, 0, 0, .3);
}

.todo-prop--deadline {
  color: rgba(0,0,0,.7);
  letter-spacing: .03rem;
}

.todo:hover .todo-prop--time {
  opacity: .6;
}

.todo-input {
  font-size: .8rem;
  height: 2.5rem;
  padding: 0 1.5rem;
  background: rgba(0,0,0,.05);
}

.todo-input--checkbox {
  margin: 1rem;
  opacity: 0;
}

.todo:hover .todo-input--checkbox {
  opacity: .6;
}

.todo-action {
  opacity: 0;
  color: rgba(0,0,0,.4);
  font-size: .8rem;
  background: none;
  width: 2rem;
  margin-left: .5rem;
  transition: .05s;
  height: 1.2rem;
}

.todo-action:hover {
  color: rgba(0,0,0,.5);
  cursor: pointer;
}

.todo-action--play{
  background-image: url('/assets/img/play-button.svg');
  background-repeat: no-repeat;
  margin-left: 2rem;
}

.todo-action--remove{
  background-image: url('/assets/img/rubbish-bin.svg');
  background-repeat: no-repeat;
}

.todo:hover .todo-action {
  opacity: .6;
}

.addTodo {
  display: flex;
  height: 4rem;
}

.addTodo-input {
  background: rgba(0,0,0,.05);
  padding: 1rem;
  font-size: .9rem;
}

.addTodo-input--task {
  flex-grow: 4;
}

.addTodo-input--submit {
  background: #42C100;
  color: white;
  transition: .1s;
}

.addTodo-input--submit:hover {
  cursor: pointer;
  background: white;
  color: #42C100;
}

.timer {
  width: 50%;
}

/* attributes */

.hidden {
  display: none;
}
