@import 'reset.css';

/*reset*/

body {
  font-family: helvetica;
}

input, button, select {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.navigation-nav {
  height: 10vh;
  margin-top: 5vh;
  padding: 1rem;
}

.navigation-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
}

.nav-item-link {
  text-decoration: none;
}

.nav-text {
  padding: .5rem;
  border-radius: .3rem;
  text-transform: capitalize;

  color: #B3B3B3;
  font-size: .9rem;
}

.nav-text:hover {
  color: white;
}

.button--secundairy {
  color: rgba(0,0,0,.4);
  background: none;
  font-size: .9rem;
  transition: .05s;
  padding-right: 1rem;
  text-decoration: none;
}

.button--secundairy:hover {
  opacity: 1;
  color: #48BF22;
  transition: .1s;
  cursor: pointer;
}

.button--delete:hover {
  color: red;
}

/* markup */

.input {
  padding: 0 1rem;
  font-size: .9rem;
}

.button--action{
  color: white;
  background: #42C100;
  height: 100%;
  width: 5rem;
  font-size: 2rem;
}

.button--action:hover {
  color: #42C100;
  background: white;
  transition: .1s;
  cursor: pointer;
}

/* layout */

.application {
  display: flex;
  height: 100vh;
}

.application-navigation{
  background: #2C2C2C;
  width: 11rem;
}

.application-content {
  background: #F9FAFC;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1;
  display: flex;
}

.new {
  height: 4rem;
  box-shadow: .1rem .1rem .2rem rgba(0,0,0,.05);
  z-index: 1;
}

.new-form {
  display: flex;
  align-items: center;
  height: 100%;
}

.new-input{
  height: 100%;
}

.new-input--big {
  flex-grow: 1;
  font-size: 1.1rem;
}

.project {
  flex-grow: 1;
  box-shadow: .1rem .1rem .2rem rgba(0,0,0,.05);
  background: white;

  display: flex;
  flex-flow: column;
}

.project-selector {
  height: 10vh;
  padding: 1rem;

  display: flex;
  align-items: flex-start;
}

.project-selector a {
  background: grey;
  padding: .5rem;
  margin: .5rem;
  border-radius: .25rem;
  color: white;
  text-decoration: none;
}

.project-details{
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.details-content {
  display: flex;
  flex-direction: column;
}

.details-stats {
  display: flex;
  padding: 2.3rem 0;
  justify-content: space-between;
  width: 6rem;
  color: #404040;
}

.details-controls {
  padding: 2rem;
}

.project-details-name {
  padding: 0 2rem;
  font-size: 2rem;
}

.project-details-deadline {
  color: rgba(0,0,0,.3);
  padding: .5rem 2rem;
  font-size: 1rem;
}

.project-details-client {
  padding: .5rem 2rem;
  font-size: 1.2rem;
  color: #48BF22;
}

.project-todos {
  height: 50vh;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.todos-list {
  overflow: scroll;
  height: 95%;
}

.todo{
  display: flex;
  align-items: center;
  transition: .07s;
  height: 4rem;
}

.todo p {
  width: 15%;
}

.todo:hover {
  background: rgba(0, 0, 0, .03);
}

.todo-prop {
  font-size: .9rem;
  padding: 2rem;
}

.todo-prop--task {
  flex-grow: 1;
  color: rgba(0,0,0,.7);
  letter-spacing: .03rem;
}

.todo-prop--time {
  color: rgba(0, 0, 0, .3);
}

.todo-prop--deadline {
  color: rgba(0,0,0,.7);
  letter-spacing: .03rem;
}

.todo:hover .todo-prop--time {
  opacity: .6;
}

.todo-action {
  opacity: 0;
}

.todo-action--delete:hover{
  opacity: 1;
  color: red;
  transition: .1s;
}

.todo-prop--input {
  padding: 1.5rem;
  background: none;
  font-size: .9rem;
}

.todo:hover .todo-action {
  opacity: .6;
}


.timer {
  width: 50%;
}

.addTodo {
  height: 10%;
  display: flex;
}

.addTodo-input {
  background: rgba(0,0,0,.05);
  padding: 1rem;
  font-size: .9rem;
}

.addTodo-input--task {
  flex-grow: 4;
}

.addTodo-input--submit {
  background: #42C100;
  color: white;
  transition: .1s;
}

.addTodo-input--submit:hover {
  cursor: pointer;
  background: white;
  color: #42C100;
}

.notFound{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound h2{
  font-size: 4.2rem;
  margin-bottom: 2rem;
}

.application-navigation h2{
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

.profile {
  padding: 2rem;
  margin: 0 auto;
  margin-top: 5vh;
}

.profile h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

.profile-form {
  overflow: scroll;
  height: 60vh;
  margin: 1rem;
}

.profile-user {
  padding: 2rem;
  background: rgba(0,0,0,.1);
  border-radius: .2rem;
  margin: 1rem;
}

.user-container {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 1.5rem;
}

.user-email {
  padding: 1rem 0;
  color: grey;
}

.user-check {
  font-size: .7rem;
}

.addUser-form{
  background: #48BF22;
  padding: 1rem;
  border-radius: .2rem;
}

.addUser-form input {
  background: none;
  color: white;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.addUser-form .button {
  color: white;
  font-size: 2rem;
  margin-left: 5rem;
}

.addUser-form .button:hover {
  color: grey;
  cursor: pointer;
}
/* attributes */

.hidden {
  display: none;
}

.completed {
  opacity: .2;
  transition: .2s;
}

.selected p{
  background: #404040;
}

.ifEmpty {
  color: rgba(0,0,0,.5);
  font-size: .9rem;
  padding: 2rem;
}
